#calculator {
  padding: 1.5rem;
  width: 17rem;
  background-color: #f59718;
  transform: rotate(-13deg) skewX(8deg) skewY(8deg);
  box-shadow: -1px 1px 0 #d15407, -2px 2px 0 #d15407, -3px 3px 0 #d15407,
    -4px 4px 0 #d15407, -5px 5px 0 #d15407, -6px 6px 0 #d15407,
    -7px 7px 0 #d15407, -8px 8px 0 #d15407, -9px 9px 0 #d15407,
    -10px 10px 0 #d15407, -11px 11px 0 #d15407, -12px 12px 0 #d15407;
  // 0 20px 30px rgba(0, 0, 0, 0.5);
}
